%list-unstyled { @include list-unstyled; }

%list-inline { @include list-inline; }

%xy-center { @include xy-center; }

%center-block { @include center-block; }

%link-unstyled {
	@include td ( inherit, inherit );
	@include color ( inherit, inherit, inherit, inherit );
}

%clearfix { @include clearfix; }

%text-overflow { @include text-overflow; }

%dl-horizontal { @include dl-horizontal; }


%title {
	color: $titles-color;
	font-weight: bold;
  	margin: 0.2em auto;
}


%parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	display: flex;
}






%text-control {
	border-radius: 1em;
	background-color: #fff;
	padding: 0.5em 1.5em;
	border: none;
	font-size: 85%;
}




%box {
	border-radius: 8px;
	padding: 2em;
	position: relative;
	@include min-width( $screen-sm ) {
		padding: 3em;
	}
	&:after,
	&:before {
		content: '';
		display: block;
		border-radius: 8px;
		position: absolute;
		left: 0;
		right: 0;
		z-index: -1;
	}

	&:after {
		background-color: $brand-success;
		top: 0px;
		bottom: 0px;
	}

	&:before {
		background-color: darken( $brand-primary, 35% );
		top: -10px;
		bottom: 10px;
	}
}