//
//	Переменные
//


$screen-sm:					576px;
$screen-md:					768px;
$screen-lg:					992px;
$screen-xl:					1200px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 20px;
$flexboxgrid-outer-margin: 20px;
$flexboxgrid-breakpoints:
  xs $screen-sm 540px,
  sm $screen-md 720px,
  md $screen-lg 960px,
  lg $screen-xl 1140px;
$flexboxgrid-max-width: 1920px;
$smallest: xs;



$brand-default:         #8c8c8c;
$brand-primary:         #5700fa;
$brand-success:         #df5f60;
$brand-warning:         #e0802f;

$body-color: #ffffff;
$titles-color: #333333;
$text-color: $brand-default;
$link-color: $titles-color;

$font-size-base:		17px;
$line-height-base:	27em / 17em;
$line-height-computed: floor( $font-size-base * $line-height-base );

$font-family-base: 'Roboto', sans-serif;