











.btn {

	@extend %button;

	&-primary {
		background-color: $brand-primary;
		color: #fff;
	}


	&-success {
		background-color: $brand-success;
		color: #fff;
	}


	&-warning {
		background-color: $brand-warning;
		color: #fff;
	}


}