













.feedback {


	@extend %box;


	.form {
		margin: 1em auto;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
	}

	.title {
		text-align: center;
		color: #fff;
	}

	.separator {
		background-color: #fff;
	}

	.form input {
		@extend %text-control;
		border-radius: 1em 0 0 1em;
		margin: 0;
	}

	.form [ type=submit ] {
		margin: 0;
		padding: 0;
		border-radius: 0 1em 1em 0;
		min-width: 3em;
	}

}