













form {

	label {
		display: block;
		font-weight: bold;
		margin-top: 0.5em;
	}

	textarea,
	input[ type="text" ],
	input[ type="email" ],
	input[ type="password" ] {
		@extend %text-control;
		display: block;
		border: 1px solid $brand-success;
		// margin: 5px auto;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		width: 100%;
		box-sizing: border-box;
		outline: none;
	}


	textarea {
		resize: vertical;
	}


	[ type="submit" ] {
		@extend .btn;
		margin: 1em auto;
		background-color: $titles-color;
		transition: background-color .2s;
		&:hover { background-color: lighten( $titles-color, 15% ); }
	}

	[ type="submit" ]:after {
		@extend %icon-send;
		@extend %background-icon;
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		vertical-align: middle;
		margin-left: .5em;
		margin-right: .5em;
	}


}