













.languages {

	padding: 0;
	margin: 1em;
	margin-bottom: 1em;
	text-align: center;
	list-style-type: none;

	li {
		display: inline-block;
		font-size: 85%;
		margin: 0.5em;
	}


	.current {
		font-weight: bold;
		font-size: 100%;
	}

	a {
		display: block;
		border: 1px solid transparent;
		padding: 0 0.5em;
		background-color: transparent;
		transition: color 200ms, background-color 200ms;
		&:hover {
			color: $brand-success;
			background-color: #fff;
		}
	}

}