-
	var section = {
		name: '',
	};


block variables


section( class="section " + section.name, id=section.name )
	block section
		.section__layer.layer.layer--back
			block section_back
		.section__layer.layer.layer--base
			block section_base