extend layout/_index


mixin archive_entry( args )
	.archive__entry.entry: .row.center-xs
		.col-xs-10.col-sm-6.col-md-5.col-lg-5: a.entry__thumbnail.thumbnail( href="#" ): img.lazy( src="#", data-src=args.thumbnail, alt=args.title )
		.col-xs-12.col-sm-6.col-md-7.col-lg-7
			h3.entry__title.title: a( href="#" ) #{args.title}
			.entry__excerpt.excerpt: p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus delectus accusamus nesciunt, soluta suscipit aliquid esse eum. Obcaecati consequatur, consectetur nam perferendis repellendus, minima quos atque unde soluta assumenda ad!
			.row.middle-xs
				.col-xs-5: time.datetime( datetime="2004-07-24T18:18" ) 22.09.2019
				.col-xs-7.text-right: a.btn.btn-success.permalink( href="#" ) Подробней


block variables
	- page.type = 'archive';
	- page.title = 'Архив';


block main
	.main-bgi.lazy( data-src=src.img+'ukraine.png' )
	.container: .row
		.col-xs-12.col-sm-12.col-md-8.col-lg-8
			include blocks/_pageheader
			include blocks/_breadcrumb
			+archive_entry( { title: 'Пост тест', thumbnail: src.img+'background.png' } )
			+archive_entry( { title: 'Пост 1', thumbnail: src.img+'archive/post-01.jpg' } )
			+archive_entry( { title: 'Пост 2', thumbnail: src.img+'archive/post-02.jpg' } )
			+archive_entry( { title: 'Пост 3', thumbnail: src.img+'archive/post-03.jpg' } )
			+archive_entry( { title: 'Пост 4', thumbnail: src.img+'archive/post-04.jpg' } )
			+archive_entry( { title: 'Пост 5', thumbnail: src.img+'archive/post-05.jpg' } )
			include blocks/_pagination
		.col-xs-12.col-sm-12.col-md-4.col-lg-4
			include asides/_column