extend layout/_index


block variables
	- page.type = 'front-page';
	- page.title = 'Главная';


block main
	include blocks/_jumbotron
	include blocks/_aboutus
	include blocks/_services
	include blocks/_sectors
	include blocks/_steps
	include blocks/_questions