//-
	Услуги






section.section.aboutus: .container: .row
	.col-xs-12.col-sm-4.col-md-5.col-lg-5: img.lazy( src="#", data-src=src.img+'aboutus/thumbnail-01.png', alt="ALT" )
	.col-xs-12.col-sm-8.col-md-6.col-lg-6
		h2 Welcome to Eduin university, Constant self-improvement as an instructor.
		p Education City is initiative of our Qatar Foundation for Education, Science and Community Development. Education City initiative of our Qatar Foundation for Education, Science and Community Development. 
		p Education City is initiative of our Qatar Foundation for Education, Science and Community Development. Education City initiative of our Qatar Foundation for Education.
		a.btn.btn-success.permalink( href="#" ) Get started

section.section.aboutus: .container: .row.reverse
	.col-xs-12.col-sm-4.col-md-5.col-lg-5: img.lazy( src="#", data-src=src.img+'aboutus/thumbnail-04.png', alt="ALT" )
	.col-xs-12.col-sm-8.col-md-6.col-lg-6
		h2 Welcome to Eduin university, Constant self-improvement as an instructor.
		p Education City is initiative of our Qatar Foundation for Education, Science and Community Development. Education City initiative of our Qatar Foundation for Education, Science and Community Development. 
		p Education City is initiative of our Qatar Foundation for Education, Science and Community Development. Education City initiative of our Qatar Foundation for Education.
		a.btn.btn-success.permalink( href="#" ) Get started