
 










ul.contacts
	li.viber: a( href="#" ) #[span.sr-only viber] #[span.value +380505290322]
	li.whatsapp: a( href="#" ) #[span.sr-only whatsapp] #[span.value +380505290322]
	li.skype: a( href="#" ) #[span.sr-only skype] #[span.value sagirow]
	li.facebook: a( href="#" ) #[span.sr-only facebook] #[span.value @mar.pstu]
	li.twitter: a( href="#" ) #[span.sr-only twitter] #[span.value @mar_pstu]
	li.email: a( href="#" ) #[span.sr-only email] #[span.value sagirov1978@ukr.net]