//-
	Подвал сайта


.container: .row.middle-xs
	.col-xs-12.col-sm-6.col-md-4.col-lg-4.first-md: p.footer__copyright.copyright 2019 &copy; #{blog.name}
	.col-xs-12.col-sm-12.col-md-4.col-lg-4.first-xs: include _contacts 
	.col-xs-12.col-sm-6.col-md-4.col-lg-4: p.footer__developer.developer ЦКТ ПГТУ