













section.action.lazy( data-src=src.img+"mrpl/bgi-3.jpg" )
	img.logo.lazy( src="#", data-src=src.img+"mrpl/logo.png", alt=blog.name )
	h2.title A bank is a financial institution that accepts deposits from the public and creates credit. For all of your financial needs 
	p.text-center: a.btn.btn-success Read More