












nav.nav#nav
	ul.nav__list.list
		li: a( href="#" ) Главная
		li.has-sub-menu
			a( href="#" ) О нас
			ul.sub-menu
				li: a( href="#" ) Галерея
				li: a( href="#" ) Прогулка по университету
				li: a( href="#" ) История университета
				li: a( href="#" ) Отзывы
		li.has-sub-menu
			a( href="#" ) Обучение
			ul.sub-menu
				li: a( href="#" ) Информация
				li: a( href="#" ) Образцы документов
				li: a( href="#" ) Порядок подачи документов
				li: a( href="#" ) Условия проживания
				li: a( href="#" ) Подготовительные курсы
				li: a( href="#" ) Ситажировка и практика
				li: a( href="#" ) Направления подготовки
		li: a( href="#" ) Контакты
	hr
	include _contacts
	div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore molestias consequuntur odit ea, nihil aliquid? Quae qui, ut ducimus facere ullam harum, fugit, sapiente, quo laudantium commodi tempore libero temporibus.
	div Dolore tempore dignissimos, tempora porro nesciunt quam dicta eaque rem. Laboriosam assumenda voluptas culpa mollitia at dolore delectus, aliquam atque eveniet quae quibusdam dolorem eaque alias dicta excepturi ea hic?
	div Magnam eos consequuntur ab debitis. Adipisci dolorem atque quas laboriosam delectus, perspiciatis officiis temporibus vero earum et nam, possimus doloribus ut recusandae voluptates explicabo! Ratione quae sapiente veniam perspiciatis dolores.
	div Fuga qui ab est esse officia nihil! Libero eius dolore quos reprehenderit fugiat, adipisci facilis. Obcaecati quo quidem dolor animi, incidunt aliquam ex. Aliquid quod perferendis asperiores, veritatis, doloremque dignissimos.
	div Libero numquam, delectus modi similique id repellendus labore pariatur debitis. In id provident repellat, laboriosam, nostrum exercitationem odio! Distinctio culpa neque cumque ex commodi libero quae quaerat autem sint illo!
	div Error vero earum animi. Voluptates praesentium aut quos totam asperiores tempore illum magni deleniti, fugiat, officia nisi! Commodi eos nesciunt nisi neque deserunt, perferendis facere impedit atque eveniet animi cupiditate!
	div In corporis enim sequi molestias magni maxime excepturi, quo laborum mollitia distinctio itaque saepe esse quidem porro praesentium corrupti hic temporibus, culpa dignissimos ullam. Dolores, cupiditate! Nihil dolorum consequuntur, soluta.
	div Repudiandae blanditiis doloribus labore suscipit, tenetur magnam voluptate in delectus vel vitae aliquid eos nisi, veritatis aut laboriosam. Eligendi magni, voluptas illo distinctio dolores quia accusamus reprehenderit optio dicta repellendus.
	div Natus quod harum dolorum, atque, vitae praesentium incidunt voluptatem ad assumenda voluptatum magnam tempora aliquam eveniet quas fuga repellendus ab maxime nihil rerum pariatur, iste porro. Aliquam quas odio temporibus.
	div Facilis dignissimos officiis, repellendus vitae atque. Deleniti tempore impedit vel sit dolorum porro totam ducimus, repellat laudantium quas, optio fugit, dicta veritatis. Sed ipsam debitis eveniet soluta recusandae, temporibus consequatur.