







mixin panorama( args )
	.col-xs-4.col-sm-3.col-md-2.col-lg-2
		figure.panoramas__entry.entry
			a.thumbnail( href="#" ): img.lazy( src="#", data-src=args.thumbnail, alt=args.title )
			figcaption.title #{args.title}





.panoramas#panoramas: .container-fluid: .row
	+panorama( { title: 'Абонемент художественной литературы', thumbnail: src.img+'panoramas/01.jpg' } )
	+panorama( { title: 'Гимнастический зал', thumbnail: src.img+'panoramas/02.jpg' } )
	+panorama( { title: 'Зал учёного совета', thumbnail: src.img+'panoramas/03.jpg' } )
	+panorama( { title: 'Игровой зал спорткомплекса', thumbnail: src.img+'panoramas/04.jpg' } )
	+panorama( { title: 'Комнаты студенческого общежития', thumbnail: src.img+'panoramas/05.jpg' } )
	+panorama( { title: 'Культурно-просветительский центр', thumbnail: src.img+'panoramas/06.jpg' } )
	+panorama( { title: 'Лаборатория механического оборудования', thumbnail: src.img+'panoramas/07.jpg' } )
	+panorama( { title: 'Музей', thumbnail: src.img+'panoramas/08.jpg' } )
	+panorama( { title: 'Тренажерный зал', thumbnail: src.img+'panoramas/09.jpg' } )
	+panorama( { title: 'Хол студенческого общежития', thumbnail: src.img+'panoramas/10.jpg' } )
	+panorama( { title: 'Читальный зал', thumbnail: src.img+'panoramas/11.jpg' } )
	+panorama( { title: 'Школа стартапов', thumbnail: src.img+'panoramas/12.jpg' } )