












section.section.questions: .container
	h2.title Still have questions? Call us!
	.row.middle-xs.center-xs
		.col-xs-5.col-sm-4.col-md-3.col-lg-3
			img.thumbnail.lazy( src="#", data-src=src.img+'customer-support.png' )
		.col-xs-10.col-sm-6.col-md-6.col-lg-5.col-sm-offset-1: .box
			include ../forms/_contacts